/* Custom colours */
/* Used this palette as a rough guide: https://www.design-seeds.com/tag/charcoal/page/8/
'cause you know I love colour palettes */
/*Custom font*/
@import url("https://fonts.googleapis.com/css?family=Ropa+Sans");
.reveal {
  font-family: "Ropa Sans", sans-serif; }

/* Custom text styles */
/* These are general classes so can be added to
any text in the slides e.g. <h2> <style> Fancy thingy </style> </h2>*/
.reveal embossed {
  color: #fff;
  text-shadow: 0 -3px 0 #303239; }

.reveal shadow, .reveal h1.shadow, .reveal h2.shadow,
.reveal h2, .shadow {
  text-shadow: 5px 2px #000;
  color: #fff;
  padding: 0 2rem;
  font-family: "Ropa Sans", sans-serif;
}

.reveal glow {
  text-shadow: 0px 0px 5px #fff;
  color: #fff;
  padding: 0 2rem; }

/* Adding extra glow class to headings (nb this is a big glow) */
.reveal h1.glow,
.reveal h2.glow,
.reveal h3.glow,
.reveal h4.glow,
.reveal h5.glow,
.reveal h6.glow {
  text-shadow: 0px 0px 5px #fff, 0 0 30px #C5D4DB;
  color: #fff;
  padding: 0 2rem;
  font-family: "Ropa Sans", sans-serif; }

/* Changing the links colour and behaviour */
.reveal a {
  color: #FFC300; }
  .reveal a:hover {
    color: #e6b000;
    font-weight: bold; }

/*Flushing text to either side */
.right {
  left: 50%;
  padding: 10px;
  position: fixed;
  top: 30%; }

.left {
  right: 50%;
  padding: 10px;
  position: fixed;
  top: 30%; }

.reveal .redBorder {
  border: 5px solid red;
}

.reveal .yellowBorder {
  border: 5px solid yellow;
}

/* firt page styles */
.reveal .mainTextRight {
  right: -15%;
  padding: 0;
  margin: 0;
  position: fixed;
  top: 30%;
}

.reveal .subTextRight {
  text-align: left;
}

.reveal .mainImageLeft {
  right: 55%;
  padding: 0px;
  position: fixed;
  top: 15%;
  max-width: 60%;
  height: auto;
}

/*# sourceMappingURL=custom.css.map */
.reveal section img { background:none; border:none; box-shadow:none; }

.reveal .fluid { max-width: 100%; height: auto; }

#title-footer img {
  max-height: 7wh;
}

/* Create two equal columns that floats next to each other */
.column {
    float: left;
    width: 50%;
    padding: 10px;
}

.reveal .row {
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding: 0;
}

.row .column-4 {
    float: left;
    width: 24%;
    margin: 0px;
    padding: 0px;
    font-size: 21px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.column-4 p {
  margin: 0;
  padding: 0;
  font-size: 21px;
}

.reveal .flex-container {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
}

.reveal .flex-container div {
  text-align: center;
  background-color: #f1f1f1;
  margin: 5px;
  font-size: 30px;
}

.strikethrough:before {
  position: absolute;
  content: "xxxxx";
  border: 3px solid red;
  border-color: inherit;

  -webkit-transform:rotate(-45deg);
  -moz-transform:rotate(-45deg);
  -ms-transform:rotate(-45deg);
  -o-transform:rotate(-45deg);
  transform:rotate(-45deg);
  width: 100%;
  height: 20px;
}